<div class="jumbotron jumbotron-fluid mb-0" style="background-image: url(https://www.wallpaperflare.com/static/181/103/630/inubashiri-momiji-touhou-momiji-inubashiri-wallpaper.jpg); background-size: cover; background-position: center center; height: 100vh; vertical-align: middle">
    <div class="container" >
        <div class="row align-items-end" style="height: 85vh">
            <div class="col">
                <h3 style="color: white; font-family:Raleway;">Akatsuki no Hikari</h3>
            </div>
                
        </div>
            
    </div>
</div>

<section class="bg-dark" id="banner-blog-post">
    <div class="container">
        <div class="row pt-3 pb-3">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2 class="h2 text-light text-center" style="font-family:Raleway;">Blog Posts</h2>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</section>