<section id="3-to-1" class="pt-1">
        <!-- <div class="container d-none" style="background-color: #AAAAAA">
            <div class="row mt-3">
                <div class="col-md-8 ">
                    <div class="row">
                        <div class="card-group">
                                <div class="card">
                                    <img src="/img/laffey.jpg" alt="laffey img" class="card-img-top">
                                    <div class="card-img-overlay">
                                        <h4 class="h4 card-title">USS Laffey</h4>
                                        <p class="card-text">Learn the history of the demon of Guadalcanal, and the drunker loli bunny</p>                                        
                                    </div>
                                </div>
                                <div class="card">
                                    <img src="/img/bg.jpg" alt="laffey img" class="card-img-top" style="max-width:500px">
                                    <div class="card-img-overlay">
                                        <h4 class="h4">IJN Nagato</h4>
                                        <p class="card-text">Learn the history of the loli shrine maiden</p>
                                        
                                    </div>
                                </div>
                                <div class="card">
                                    <img src="/img/unicorn.jpg" alt="laffey img" class="card-img-top">
                                    <div class="card-img-overlay">
                                        <h4 class="h4">HMS Unicorn</h4>
                                        <p class="card-text">Learn the history of the little sister of Illustrious, together with Yu-chan</p>
                                        
                                    </div>
                                </div>
                        </div>
                    </div>                    
                </div>
                <div class="col-md-4 mr-auto d-none d-md-block" style="background-color: #CCCCFF">
                    <div class="container mt-3">
                        <h1 class="h3" style="text-align:center">Something is gonna be in here</h1>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="container pt-3">
            <div class="row" style="background-color: #FAFAFADD">
                <div class="col pt-3 pl-4">
                    <div class="row">
                        <div class="col-md-9" id="blog-post-container">
                                
                            <%- include('../components/post'); %>
                            
                        </div>
                        <div class="col-3 border-left d-none d-md-block">
                            <div class="container">
                                <h1 style="text-align:center;">idk what to put in here</h1>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>