<!DOCTYPE html>
<html>
    <head>
        <title>Login - Akatsuki no Hikari</title>
    </head>
    <body>
        <h1>LOGIN PAGE</h1>
        <form action="/login" method="post">
            <label>Username</label>
            <input type="text" name="username" id="formUsername">
            <label>Password</label>
            <input type="password" name="password" id="formPassword">
            <button>Submit</button>
        </form>
    </body>
</html>