<!DOCTYPE html>
<html>
    <head>
        <title>Register - Akatsuki no Hikari</title>
    </head>
    <body>
        <h1>REGISTER PAGE</h1>
        <hr>
        <form action="/register" method="post">
        <label>E-mail</label>
        <input type="email" name="email" id="formEmail">
        <label>Username</label>
        <input type="text" name="username" id="formUsername">
        <label>Password</label>
        <input type="password" name="password" id="formPassword">
        <button>Submit</button>
        </form>
    </body>
</html>