<!DOCTYPE html>
<%- include('../components/head') %>
<body>
    <%- include('../components/navbar') %>
    <%- include('../components/postContainer'); %>
    <%- include('../components/footScripts'); %>
</body>