<!DOCTYPE html>
<html>
    <head>
        <title>EJS Testing</title>
    </head>
    <body>
        <% include ../components/header %>
        <hr>
        <h2>Awoo?</h2>
        <img src="./img/test.jpg" alt="testImage">
    </body>
</html>